body {
    margin: 0 auto;
    background-color: #e3e3e3;
}

nav {
    margin: 0 auto;
    padding-left: 10px;
}

nav .brand-logo {
    left: 0;
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        transform: translateX(0);
    }
}

.fz-content {
    padding: 0 .5em;
    margin: 0 auto 1em auto;
}

@media only screen and (min-width: 800px) {
    nav {
        width: 80%;
    }

    .fz-content {
        width: 80%;
    }
}

@media only screen and (max-width: 799px) {
    nav {
        width: 95%;
    }

    .fz-content {
        width: 95%;
    }
}

@media only screen and (max-device-width: 569px) {
    nav {
        width: 95%;
    }

    .fz-content {
        width: 95%;
    }
}

footer {
    text-align: center;
    margin-bottom: 10px;
}

.fz-flex-row {
    display: flex;
    flex-direction: row;
}

.fz-flex-column {
    display: flex;
    flex-direction: column;
}

.fz-flex-wrap {
    flex-wrap: wrap;
}

.fz-flex-space-around {
    justify-content: space-around;
}

.fz-flex-center {
    justify-content: center;
}

.fz-flex-v-center {
    align-items: center;
}

.fz-project {
    margin: 20px;
}

.fz-collapsible-item:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fz-project img {
    max-width: 500px;
    height: 350px;
}

@media only screen and (min-width: 799px) {
    .fz-project img {
        width: 500px !important;
        height: 350px !important;
    }
}

.fz-collapsible-item img {
    width: 250px;
    padding-right: 10px;
    margin: auto;
}

.fz-work-experience-description {
    padding: 10px;
}

.fz-size-50-50 {
    width: 50px;
    height: 50px;
}

.fz-size-25-25 {
    width: 25px;
    height: 25px;
}

.fz-link-no-style {
    text-decoration: none;
}